* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --bgOrange: #e84949;
}

#wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.container {
  width: 1200px;
  margin: 0, auto;
}

.navbar {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.logo {
  width: 80px;
}

.logo_container {
  display: flex;
  /* flex-wrap: wrap; */
  margin-left: 6rem;

  align-items: center;
  justify-content: baseline;
  /* position: absolute; */
}
.logo-text {
  margin-left: -1.2rem;
  font-size: 28px;
}

.nav-items {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 2rem;
  padding: 0 4em;
}

.nav-items div {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  /* converst it to hand  */
}

.nav-items div a {
  color: black;
}
.nav-items div:hover {
  font-weight: bold;
  transition: all 2s;
}

a {
  text-decoration: none;
}

.my-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-content: space-around; */

  gap: 1rem;
  margin: 4rem auto;
  padding: 0 1rem;
  padding-bottom: 8rem;
}

.faded-text {
  user-select: none;
  /* cant be selected by user */
  font-size: 7em;
  color: rgb(231, 231, 231);
  bottom: -16%;
  left: -5%;
  font-weight: bold;
  transition: all 3s;
  margin-left: 12rem;
}

.my-section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.my-section-heading {
  font-size: 35px;
  color: #343d68;
  font-weight: 500;
}
.role {
  color: #4e45d5;
  font-weight: 800;
}

.my-section-sub-head {
  font-size: 45px;
  line-height: 45px;
}

.my-section-description {
  margin-top: 1rem;
  width: 70%;
  font-weight: 500;
}
.pink-button {
  background-color: #e84949;
  width: fit-content;
  color: white;
  padding: 0.8rem 2.3rem;
  box-shadow: 5px 5px 7px 0px #0000003f;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 500;
  border: solid 3px transparent;
  position: relative;
  z-index: 1;
}

.pink-button::before {
  content: "";
  position: absolute;
  background-color: #fff;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.8s;
}

.pink-button:hover::before {
  transform: scaleX(1);
}

.pink-button:hover {
  border: solid 3px #e84949;
  color: black;
}

.my-section-right {
  position: relative;
  display: flex;
  /* width: 25%;
    right: 10%; */
}

.absolute {
  position: absolute;
}

.user-image {
  padding: 2.5rem;
  filter: grayscale(1);
  transition: all 2s;
  border: 1rem solid white;
  box-shadow: none;
  transform: scale(1);
  animation: usranm 5s linear infinite;
  /* animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite; */
}

.user-image img {
  z-index: -10;
  width: 350px;
}

@keyframes usranm {
  0% {
    scale: 1;
    filter: grayscale(1);
  }

  50% {
    filter: grayscale(0);
    box-shadow: 3px 3px 10px black;
    scale: 0.9;
  }

  100% {
    scale: 1;
    filter: grayscale(1);
  }

  /* from{
        padding: 2.5rem;
        filter: grayscale(1);
        border: 1rem solid white;
        box-shadow: none;
        transform: scale(1);

    }
    to{
        /* padding: 4.5rem; */
  /* filter: grayscale(0);
        border: 3px solid grey;
        box-shadow: 3px 3px 10px grey;
        transform: scale(0.6);
    } */
}

.icon-dots {
  z-index: 1;

  bottom: 0rem;
  right: 0;

  animation: dotanm 5s linear infinite;
}

@keyframes dotanm {
  0% {
    bottom: 0rem;
  }

  50% {
    bottom: 5rem;
    scale: 0.6;
  }

  100% {
    bottom: 0rem;
    scale: 1;
  }
}

.icon-zigzags {
  left: 0rem;
  top: 0rem;
  z-index: 1;

  animation: ziganm 5s linear infinite;
}
@keyframes ziganm {
  0% {
    left: -1rem;
    top: 2rem;
  }

  50% {
    left: 2rem;
    top: 0rem;
  }

  100% {
    left: -1rem;
    top: 2rem;
  }
}

.icon-circle {
  left: 0rem;
  bottom: 0rem;
  z-index: 1;

  animation: ciranm 5s linear infinite;
}
@keyframes ciranm {
  0% {
    left: 0rem;
    bottom: 0rem;
  }

  50% {
    bottom: 2.5rem;
    left: 2.5rem;
  }

  100% {
    left: 0rem;
    bottom: 0rem;
  }
}

.icon-cube {
  right: 1rem;
  top: -0.5rem;
  z-index: 1;

  animation: cubanm 5s linear infinite;
}
@keyframes cubanm {
  0% {
    right: 1rem;
    top: -0.5rem;
  }

  50% {
    top: -1.5rem;
    transform: rotateY(360deg);
    /* z-index: -20; */
  }

  100% {
    right: 1rem;
    top: -0.5rem;
  }
}

.project-section{
  background-color: rgb(231, 231, 231) ;
  margin: 4rem;
}

.page-header{
  color: var(--bgOrange);
  font-size: 90px;
  text-align: center;
  padding-top: 30px;
}

.project-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap:120px;

}



.git{
  
  font-size: 15px;
  /* font-weight: bold; */
  color: white;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  background-color: chartreuse;
}

.project-card{
  width: 90%;
  height: 550px;
  background-image: url(./Images/projects/codecatalyst.png);
  background-size: cover;
  position: relative;
  box-shadow: 0px 9px 40px #1f1f1f;

}

#project2{
  background-image: url(./Images/projects/zephyr.png);
}

#project3{
  background-image: url(./Images/projects/weather.png);
} 

#project4{
  background-image: url(./Images/projects/randompasw.png);
} 

.project-card::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1f1f1f9a;
  z-index: 0;
  /* transform: scaleX(1); */

}

.project-card::before{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, #343d68 , #343d68be, #343d687c);
transform: scaleX(0);
transform-origin: left;
transition: all 0.4s;
z-index: 1;
}
.project-card:hover::before{
  transform:scaleX(1);
}

.project-number{
  position: absolute;
  font-size: 200px;
  font-weight: 600;
  color: white;
  z-index: 20;
  /* display: none; */
  opacity: 0;
}

.project-card:hover .project-number{
  /* display: block; */
  opacity: 1;
}

.projectNumber-right{
  right: -40px;
  top: -45px;
}

.projectNumber-left{
  left: -40px;
  top: -45px;
}

.projectContent{
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2em;
  bottom: 20%;
  z-index: 5;
  gap: 1rem;
  transition: all 0.4s;

}

.leftProjectContent{
  left: 10%;
   
}

.rightProjectContent{
  right: 10%;
}

.project-skills-container{
  width: 60%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.project-skill{
  width: 40px;

}

.proct-heading{
  font-size: 50px;
  font-weight: bold;
  line-height: 3rem;
}

.project-subHeading{
  width: 70%;
  font-size: 16px;
  font-style: italic;
}

.btn-grp{
  display: flex;
  gap: 0.9rem;
  align-items: center;
}

.button-project:hover{
  border: none;

}
.icon{
  cursor: pointer;
  color: white;
  font-size: 35px;
} 

.icon:hover{
  color: var(--bgOrange);

}

.projectContent:hover{
  transform: scale(1.2);
}

.footer{
  background-color: #343d68;
  padding: 1.5rem 0;
  margin-top: 4rem;
  color: white;
  text-align: center;
  font-weight: bold;
}

.nav-items-footer{
  display: flex;
  justify-content: center;
  gap: 5rem;
} 

.fut{
  width: 150px;
  font-size: 20px;
  cursor: pointer;
  justify-content: center;
  gap: 3rem;
  background-color: rgb(150, 187, 187);
}